[submodule "externalDeps/googletest"]
	path = externalDeps/googletest
	url = https://github.com/google/googletest
[submodule "externalDeps/FlameGraph"]
	path = externalDeps/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "externalDeps/folly"]
	path = externalDeps/folly
	url = https://github.com/facebook/folly.git
[submodule "externalDeps/unordered_dense"]
	path = externalDeps/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "prelude"]
	path = prelude
	url = https://github.com/facebook/buck2-prelude.git
